/* CSS Reset by Josh Comeau */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto", sans-serif;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}


/* custom css by Colin Toomey */

/* top level grid setup */

.grid-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "sidebar header header header header"
        "sidebar main main main main"
        "sidebar main main main main"
        "sidebar main main main main"
        "sidebar main main main main";
}

.sidebar {
    background-color: #1134A6;
    grid-area: sidebar;

}

.header {
    background-color: white;
    grid-area: header;
}

.main {
    background-color: lightgrey;
    grid-area: main;
}

/* sidebar grid */

.sidebar-grid-1 {
    display: grid;
    grid-template-rows: 4rem repeat(6, 2.5rem);
    margin-top: 2rem;
    margin-left: 2rem;
}

.sidebar-grid-2 {
    display: grid;
    grid-template-rows: repeat(3, 2.5rem);
    margin-top: 2rem;
    margin-left: 2rem;
}

.sidebar-header {
    color: white;
    margin-left: 0.5rem;
}

.sidebar-link {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 0.75rem;
}

.sidebar-grid-item {
    margin-top: auto;
}

svg {
    margin-left: 1rem;
}

/* header grid */

.search-bar {
    grid-area: search-bar;
}

.profile {
    grid-area: profile;
}

.dash-header {
    grid-area: dash-header;
}

.dash-buttons {
    grid-area: dash-buttons;
}

.dash-buttons>button {
    background-color: #1134A6;
    color: white;
}

.header {
    display: grid;
    grid-template-areas: "search-bar search-bar profile"
        "dash-header dash-header dash-buttons"
        "dash-header dash-header dash-buttons";
}


/* main grid and subgrids */

.projects {
    grid-area: projects;
}

.announcements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
}

.main {
    display: grid;
    grid-template-areas: "projects projects projects projects announcements"
        "projects projects projects projects announcements"
        "projects projects projects projects announcements"
        "projects projects projects projects trending"
        "projects projects projects projects trending"
        "projects projects projects projects trending";
    gap: 1rem;
}

.announcements,
.trending {
    height: 100%;
}

.projects-grid {
    display: grid;
    height: 90%;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.project {
    background-color: white;
    border-left: 5px solid orangered;
    border-radius: 7px;
    margin-left: 1rem;
    margin-top: 1rem;
}

.project>h3,
.project>p {
    margin-left: 1rem;
    margin-top: 1rem;
}

.project>p {
    width: 75%;
}

.announcements-grid,
.trending-grid {
    background-color: white;
    border-radius: 7px;
    margin-top: 1rem;
    margin-right: 1rem;
    height: 80%;
}

.announcements-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.trending-grid {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.announcement>p {
    font-size: 0.75rem;
}

.announcement,
.user {
    padding: 0.5rem;
}

.announcement {
    border-top: 1px solid lightgrey;
}

/* this should really be a class for the h3s */
.projects>h3,
.announcements>h3,
.trending>h3 {
    margin-top: 1rem;
}

.projects>h3 {
    margin-left: 1rem;
}