/* CSS Reset by Josh Comeau */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto", sans-serif;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}


/* custom css by Colin Toomey */

/* top level grid setup */

.grid-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "sidebar header header header header"
        "sidebar main main main main"
        "sidebar main main main main"
        "sidebar main main main main"
        "sidebar main main main main";
}

.sidebar {
    background-color: #1134A6;
    grid-area: sidebar;

}

.header {
    background-color: white;
    grid-area: header;
}

.main {
    background-color: gray;
    grid-area: main;
}

/* sidebar grid */

.sidebar-grid-1 {
    display: grid;
    grid-template-rows: 4rem repeat(6, 2.5rem);
    margin-top: 2rem;
    margin-left: 2rem;
}

.sidebar-grid-2 {
    display: grid;
    grid-template-rows: repeat(3, 2.5rem);
    margin-top: 2rem;
    margin-left: 2rem;
}

.sidebar-header {
    color: white;
}

.sidebar-link {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

/* header grid */

.search-bar {
    grid-area: search-bar;
}

.profile {
    grid-area: profile;
}

.dash-header {
    grid-area: dash-header;
}

.dash-buttons {
    grid-area: dash-buttons;
}

.header {
    display: grid;
    grid-template-areas: "search-bar search-bar profile"
        "dash-header dash-header dash-buttons"
        "dash-header dash-header dash-buttons";
}